# Base de datos
DB_PASSWORD=cambia_esta_password

# Backend
PORT=3000
CORS_ORIGIN=http://localhost:8081
NODE_ENV=development
DATABASE_URL=postgresql://monopoly:cambia_esta_password@localhost:5432/monopoly
REDIS_URL=redis://localhost:6379

# Frontend (Expo)
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_SOCKET_URL=http://localhost:3000
